# Debian specific:  Specifying a file name will cause the first
# line of that file to be used as the name.  The Debian default
# is /etc/mailname.
#myorigin = /etc/mailname

smtpd_banner = $myhostname ESMTP $mail_name (Debian/GNU)
biff = no
compatibility_level = 2

# appending .domain is the MUA's job.
append_dot_mydomain = no

readme_directory = no

# Trusted CA certs
smtp_tls_CApath = /etc/ssl/certs
smtpd_tls_CApath = /etc/ssl/certs

# SMTP server config
# TLS parameters (LetsEncrypt for certs)
smtpd_tls_cert_file=/etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem
smtpd_tls_key_file=/etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem
smtpd_use_tls=yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtpd_tls_security_level = may
smtpd_tls_loglevel = 1
smtpd_tls_received_header = yes

# SASL security options
smtpd_sasl_security_options = noanonymous, noplaintext
smtpd_sasl_tls_security_options = noanonymous

# SMTP client config
smtp_tls_note_starttls_offer = yes
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
smtp_tls_security_level = may
smtp_tls_chain_files =
    /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem,
    /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem
smtp_tls_loglevel = 1

# Mailserver's main domain
mydomain = {{ vaulty_domain }}

# Sending emails will append @domain.net
myorigin = $mydomain

# FQDN for this machine; this is how it is uniquely identified with other
# servers
myhostname = {{ inventory_hostname }}

# List of non-virtual destinations to accept mail for
mydestination = localhost.$mydomain, localhost.localdomain, localhost
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128 172.0.0.0/8 192.168.0.0/16
relayhost =
recipient_delimiter = +
inet_interfaces = all

# This is the default
default_transport = smtp
relay_transport = error

# Local user mailbox size = 500 MB
mailbox_size_limit = 500000000

# Max message size = 25 MB
message_size_limit = 25000000

# Maildir-style storage for local mail
mail_spool_directory = /var/mail/

# Export env vars to Postfix filter
export_environment = {{ postfix_env }}

# Virtual transport and mailbox config
virtual_transport = vaulty_filter:
virtual_mailbox_domains = $mydomain, mail.$mydomain, $myhostname
virtual_mailbox_base = {{ mail_dir }}
virtual_mailbox_maps = pgsql:/etc/postfix/pgsql-vmail.cf
virtual_alias_maps = pgsql:/etc/postfix/pgsql-valiases.cf
virtual_uid_maps = static:{{ mail_uid }}
virtual_gid_maps = static:{{ mail_gid }}

# Security and throttling
smtpd_relay_restrictions =
    permit_mynetworks,
    permit_sasl_authenticated,
    defer_unauth_destination

smtpd_recipient_restrictions =
    permit_sasl_authenticated,
    reject_invalid_hostname,
    reject_non_fqdn_hostname,
    reject_non_fqdn_sender,
    reject_non_fqdn_recipient,
    reject_unknown_sender_domain,
    reject_unknown_recipient_domain,
    permit_mynetworks,
    reject_unauth_destination,
    check_policy_service unix:private/policy-spf,
    reject_rbl_client sbl.spamhaus.org,
    permit

disable_vrfy_command = yes
smtpd_delay_reject = yes
smtpd_helo_required = yes
smtpd_helo_restrictions =
    permit_mynetworks,
    reject_non_fqdn_hostname,
    reject_invalid_hostname,
    permit

smtpd_error_sleep_time = 1s
smtpd_soft_error_limit = 10
smtpd_hard_error_limit = 20
