VAULTY_WEB_IS_PROD=1
VAULTY_WEB_DB_NAME="{{ vaulty_db_name }}"
VAULTY_WEB_DB_USER="{{ vaulty_db_user }}"
VAULTY_WEB_DB_PASS="{{ vaulty_db_password }}"
VAULTY_WEB_DB_HOST="{{ vaulty_db_host }}"

VAULTY_WEB_DJANGO_SECRET_KEY="{{ vaulty_web_django_secret_key }}"

DJANGO_SUPERUSER_USERNAME="{{ vaulty_web_django_super_username }}"
DJANGO_SUPERUSER_PASSWORD="{{ vaulty_web_django_super_password }}"
