{% extends "web/base.html" %}

{% block title %}FAQ | Vaulty{% endblock %}

{% block navbar %}
<div class="navbar-start">
  <a class="navbar-item" href="/">
    Home
  </a>

  <a class="navbar-item" href="/pricing">
    Pricing
  </a>

  <a class="navbar-item is-active" href="/faq">
    FAQ
  </a>

  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
      More
    </a>

    <div class="navbar-dropdown">
      <a class="navbar-item">
        About
      </a>
      <a class="navbar-item">
        Contact
      </a>
      <hr class="navbar-divider">
      <a class="navbar-item">
        Report an issue
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<section id="faq" class="section">
  <div class="container">
    <h1 class="title is-3">Frequently Asked Questions</h1>
    <div class="content">
      <h4>How much does Vaulty cost?</h4>
      <p>Vaulty is 100% free for basic use! There are some limits in place, but you get access to all of the important features found in the <a href="/pricing">Premium</a> tier.</p>
      <h4>Which cloud providers do you currently support?</h4>
      <p>Dropbox</p>
      <h4>Do you keep my emails around?</h4>
      <p>Never! All emails sent to your Vaulty address are <em>streamed</em> directly to your cloud storage provider. In other words, Vaulty simply acts as a middleman between your email client and your cloud storage account.</p>
      <h4>Can I create multiple Vaulty email addresses in the same account?</h4>
      <p>Yes, but only with the Premium plan.</p>
      <h4>Can I delete my Vaulty account?</h4>
      <p>Yes, you can do that with one click in your user profile. We scrub out all of your information from the database, so be extra careful!</p>
    </div>
  </div>
</section>

{% endblock %}
