{% extends "web/base.html" %}

{% block title %}Home | Vaulty{% endblock %}

{% block navbar %}
<div class="navbar-start">
  <a class="navbar-item" href="/">
    Home
  </a>

  <a class="navbar-item" href="/pricing">
    Pricing
  </a>

  <a class="navbar-item" href="/faq">
    FAQ
  </a>

  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
      More
    </a>

    <div class="navbar-dropdown">
      <a class="navbar-item">
        About
      </a>
      <a class="navbar-item">
        Contact
      </a>
      <hr class="navbar-divider">
      <a class="navbar-item">
        Report an issue
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">Email stuff to cloud storage, <em>securely</em></h1>
          <p class="subtitle">Closed beta is coming soon! Enter your email below to stay updated.</p>
          <div id="mailing-list" style="margin-right: 10%;">
            <form method="POST" action="/mailing-list">
              {% csrf_token %}

              <!-- Define a horizontal form consisting of two fields -->
              <div class="field is-horizontal">
                <div class="field-body">
                  {% for field in form %}
                    <div class="field">
                      <p class="control has-icons-left has-icons-right is-expanded">
                        {{ field.errors }}

                        {{ field }}
                        <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span>

                        <!-- TODO: Toggle this if email check passes -->
                        <span class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>

                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                      </p>
                    </div>
                  {% endfor %}
                    <p class="control">
                      <button class="button is-success is-medium">Stay notified</button>
                    </p>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="column is-one-third">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="features" class="section">
  <div class="container">
    <div class="columns is-centered">
      <h1 class="title is-3">Vaulty has your back.</h1>
    </div>
    <br />
    <div class="columns">
      <div class="column is-one-quarter">
        <div class="content">
          <h4>Store email content and attachments</h4>
          <p>Any email you send to your Vaulty address is immediately forwarded to your cloud storage account. Currently, we only support Dropbox, but Google Drive and S3 are coming soon.</p>
        </div>
      </div>
      <div class="column is-one-quarter">
        <div class="content">
          <h4>Sender whitelisting, by default</h4>
          <p>You can set a list of whitelisted sender addresses for each Vaulty address. Any email received from an address that is not on the whitelist is rejected.</p>
        </div>
      </div>
      <div class="column is-one-quarter">
        <div class="content">
          <h4>TLS encryption for all emails</h4>
          <p>All emails you send to our mail servers are TLS encrypted, provided your mail client supports TLS, of course.</p>
        </div>
      </div>
      <div class="column is-one-quarter">
        <div class="content">
          <h4>Customize your Vaulty address</h4>
          <p>With the Premium plan, you get to choose a custom Vaulty address, so you can say goodbye to memorizing a randomly generated email address!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="how" class="section">
  <div class="container">
    <div class="columns is-centered">
      <h1 class="title is-3">So, how does this all work?</h1>
    </div>
    <br />
    <div class="columns">
      <div class="column is-one-third">
        <div class="content">
          <h3>Step 1</h3>
          <p>You create a Vaulty account and link it to one or more cloud storage services, and optionally configure where and how your email content is stored.</p>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="content">
          <h3>Step 2</h3>
          <p>We provide you with your own, unique Vaulty email address for each cloud storage service (@vaulty.net).</p>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="content">
          <h3>Step 3</h3>
          <p>Any email you send to your Vaulty address is <strong><em>streamed</em></strong> directly to the cloud storage service: we <strong>never</strong> view or store the contents on our side.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
