{% extends "web/base.html" %}

{% block title %}Home | Vaulty{% endblock %}

{% block navbar %}
<div class="navbar-start">
  <a class="navbar-item" href="/">
    Home
  </a>

  <a class="navbar-item" href="/pricing">
    Pricing
  </a>

  <a class="navbar-item" href="/faq">
    FAQ
  </a>

  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
      More
    </a>

    <div class="navbar-dropdown">
      <a class="navbar-item">
        About
      </a>
      <a class="navbar-item">
        Contact
      </a>
      <hr class="navbar-divider">
      <a class="navbar-item">
        Report an issue
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">Email stuff to cloud storage, <strong>securely</strong></h1>
          <h2 class="subtitle">You get your very own @vaulty.net address. Any emails and attachments you send to it are stored directly into your cloud storage account. We never see any of your email content.</h1>
          <div id="mailing-list" style="margin-right: 10%;">
            <form method="POST" action="/mailing-list">
              {% csrf_token %}

              <!-- Define a horizontal form consisting of two fields -->
              <div class="field is-horizontal">
                <div class="field-body">
                  {% for field in form %}
                    <div class="field">
                      <p class="control has-icons-left has-icons-right is-expanded">
                        {{ field.errors }}

                        {{ field }}
                        <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span>

                        <!-- TODO: Toggle this if email check passes -->
                        <span class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>

                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                      </p>
                    </div>
                  {% endfor %}
                    <p class="control">
                      <button class="button is-success is-medium">Stay notified</button>
                    </p>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="column is-one-third">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="how" class="section">
  <div class="container">
    <h1 class="title is-2">How does it work?</h1>
    <div class="columns">
      <div class="column one-third">
        <div class="content is-medium">
          <h3>Step 1</h2>
          <p>You create a Vaulty account and link it to one or more cloud storage services, and optionally configure where and how your email content is stored.</p>
        </div>
      </div>
      <div class="column one-third">
        <div class="content is-medium">
          <h3>Step 2</h3>
          <p>We provide you with your own, unique Vaulty email address for each cloud storage service (@vaulty.net).</p>
        </div>
      </div>
      <div class="column one-third">
        <div class="content is-medium">
          <h3>Step 3</h3>
          <p>Any email you send to your Vaulty address is <em>streamed</em> directly to the cloud storage service, which means that we <strong>never</strong> view or store the contents on our side.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
